<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUsaa8r6yjgEgelr5UdyYY-b-5miuHhuU</string>
	<key>GCM_SENDER_ID</key>
	<string>335680018234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.permissions</string>
	<key>PROJECT_ID</key>
	<string>lesson66-e30c3</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson66-e30c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335680018234:ios:2a3fd38f4d122ead842203</string>
</dict>
</plist>